#settings for database
db {

#database host 
host = "localhost"

#database port
port = 5432

#name of user for access to a database
user = "postgres"  

#password for access to a database
password = "password" 

#database name
name = "webserver"
}

#settings for server
server {

#server host
host = "localhost"

#server port
port = 3000

}

#set log verbosity. Can be one of the next values : Info/Debug/Warning/Error
log_verbosity = "Error"